*{
    box-sizing:border-box;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  

}

body {

    width: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;

}
div {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4;
    text-decoration: none;
}
textarea{
    margin-bottom:6%; 
    width: 80%;
    height: 30%;
    border: 3px solid #cccccc;

    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;

}
input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: small;

  font-weight: bolder;
  margin: 0 auto;

  border-radius: 10%;
  background: #FDF5E6;
  background-color: #FDF5E6;
  border: none;
  width: 30%;
  height: 5%;
  display:ruby-base-container;

  border-bottom: 0.3rem solid transparent;
  transition: all 0.1s;
}







@media (min-width: 601px )
{
    ul  li {
    font-size: medium;
    background: #FDF5E6;
    background-color: #FDF5E6;
    display:inline-grid;
    border-radius: 10%;
    width: 30%;
    height: 10%;
    margin-top: 2%;
    }
}

@media  (max-width: 600px){
    ul  li {
    font-size: medium;
    background: #FDF5E6;
    background-color: #FDF5E6;
    display:inline-block;
    border-radius: 10%;
    width: 80%;
    height: 10%;
    margin-top: 2%;
    }
}